@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@100;500&display=swap');


body{
     position: relative;
     min-height:calc(100vh);
     background-color:rgb(93, 148, 163, 1);
     color:rgb(0, 0, 0, 1);
     font-family: 'Roboto', sans-serif;
     
}


/*---Images---*/

.logo{
    width:8rem;
    width:8rem;
}

/*---Navbar---*/

.navbar-color{
    background: linear-gradient(to right, rgb(125,82,102), rgb(109,134,67), rgb(151,108,4), rgb(144,66,78) ); 
}

.navbar-links a{
    color: rgb(0,0,0,1);
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.8rem;
}

